@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Stylish&display=swap');
body{
    background-color: pink;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Stylish", serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 40px;
    background-color: white;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li{
    padding: 0 12px;
}

.bottom{
    position: sticky;
    height: 130px;
    bottom: 0;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    min-height: 75vh;
    font-family: "Stylish", serif;
}

#progressbar{
    width: 80vw;
    text-align: center;
    padding: 16px;
}

.icons{
    margin-top: 10px;
}